@import '../../css/variables.scss';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  background-color: $header-bg-color;
  color: $color-white;

  .header__left {
    display: flex;
    flex-direction: row;
    align-items: center;


    .header__logo {
      padding-right: 1rem;

      .header__logo__image {
        vertical-align: middle;
        margin-right: 0.5rem;
        width: 3rem;
      }

      .header__logo__text {
        font-family: Tommy, sans-serif;
        font-size: 2rem;
        font-weight: 900;
        vertical-align: middle;
      }
    }

    .header__info {
      border-left: white solid 2px;
      padding-left: 1rem;
      font-size: 0.8rem;

      @media #{$regular} {
        display: none;
      }
      @media #{$minimum} {
        display: none;
      }
    }
  }

  .header__buttons {
    display: flex;
    flex-direction: row;

    .header__buttons__remote-console, .header__buttons__remote-connection {
      font-size: 1.2rem;
      background-color: $header-button-color;
      color: $color-white;
      padding: 0.5rem 0.8rem;
      border: none;
      border-radius: 5px;
      margin-right: 1rem;

      .header__buttons__icon {
        vertical-align: middle;
      }
      .header__buttons__text {
        margin-left: 0.5rem;
        vertical-align: middle;
        font-size: 0.9rem;

        @media #{$hide-remote-console-breakpoint} {
          display: none;
        }
      }
    }

    $theme-slider-width: 3rem;
    $theme-slider-height: 1rem;
    $theme-slider-circle-size: $theme-slider-height * 1.5;

    .header__buttons__darkmode {
      align-self: center;

      .header__buttons__darkmode__switch {
        position: relative;
        display: inline-block;
        height: $theme-slider-height;
        width: $theme-slider-width;
      }

      #header__buttons__darkmode__input {
        display: none;
      }

      .header__buttons__darkmode__slider {
        background-color: $header-button-color;
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: .4s;
        border-radius: 1rem;

        &:before {
          bottom: -1 * ($theme-slider-height * 0.5) / 2;
          content: "";
          left: 0;
          position: absolute;
          transition: .1s;
          height: $theme-slider-circle-size;
          width: $theme-slider-circle-size;
          border-radius: 50%;
          background: $color-white url("../../images/LightThemeIcon.svg") no-repeat center/75%;
        }
      }


      #header__buttons__darkmode__input:checked + .header__buttons__darkmode__slider:before {
        transform: translateX($theme-slider-width - $theme-slider-circle-size);
        background: $color-white url("../../images/DarkThemeIcon.svg") no-repeat center/55%;
      }
    }
  }
}
