@import "../../css/variables";

.generator {
  flex-direction: column;
  height: auto;
}

.generator__autostart-msg {
  margin-top: 1rem;
}

.generator__mode-selector {
  margin-top: $metricHeaderMarginBottom;
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  > .selector-button {
    &:not(:first-child) {
      margin-left: 10px;
    }

    padding-left: 0;
    padding-right: 0;
  }
}
