@import '../../KVNRV/css/variables';

.card {
  border-radius: 5px;
  box-shadow: 2px 2px 8px $card-shadow-color;
  background: $card-bg-color;
  margin: $card-margin;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.small {
    width: $card-width-small;
    height: $card-height-small;
  }
  &.big {
    width: $card-width-big;
    height: $card-height-big;
  }

  &.long {
    height: ($card-height-small * 2) + ($card-margin * 2)
  }

  .contents {
    padding: 0.8rem;

    .card__header {
      margin-bottom: 0.5rem;
      padding: 0 0.5rem 0.5rem;
      border-bottom: 1px solid $color-gray;
      justify-content: space-between;

      .card__header__text {
        font-weight: bolder;
      }

      .card__header__icon {
        background-color: $color-lightgray;
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 5px;
      }

      .settings { background: $color-lightgray var(--settings-icon) center no-repeat; }
      .close { background: $color-lightgray var(--close-icon) center no-repeat; }
    }

    .card__body {
      padding: 0.5rem;
      height: 100%;
    }
  }

  .card__footer {
    bottom: 0;
    font-size: 0.7rem;
    padding: 0.2rem 0.8rem;
    border-radius: 0 0 5px 5px;
    color: white;
  }
}
