@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: MuseoSans, "Noto Sans SC", sans-serif;
  }

  /* All screen resolutions up to 1920 x 1080p (Full HD) */
  :root {
    /* UI scale factor */
    --uix: 1.0;
    --px1: var(--uix);
    --px2: calc(var(--uix) * 2px);
    --px8: calc(var(--uix) * 8px);
    --px16: calc(var(--uix) * 16px);
    --px20: calc(var(--uix) * 20px);
    --px24: calc(var(--uix) * 24px);
    --px32: calc(var(--uix) * 32px);
    --px36: calc(var(--uix) * 36px);
    --px44: calc(var(--uix) * 44px);
  }
  html {
    font-size: 16px;
  }

  /* 1900 x 900 (slightly smaller 1/4 of 4k) up to 2560 × 1440p (2.5k / QHD) */
  /* 1.25 x base size */
  @media screen and (min-width: 1900px) and (max-width: 2559px) {
    :root {
      --uix: 1.25;
      --px1: var(--uix);
      --px2: calc(var(--uix) * 2px);
      --px8: calc(var(--uix) * 8px);
      --px16: calc(var(--uix) * 16px);
      --px20: calc(var(--uix) * 20px);
      --px24: calc(var(--uix) * 24px);
      --px32: calc(var(--uix) * 32px);
      --px36: calc(var(--uix) * 36px);
      --px44: calc(var(--uix) * 44px);
      }
    html {
      font-size: 20px;
    }
  }
  @media screen and (min-height: 900px) and (max-height: 1439px) {
    :root {
      --uix: 1.25;
      --px1: var(--uix);
      --px2: calc(var(--uix) * 2px);
      --px8: calc(var(--uix) * 8px);
      --px16: calc(var(--uix) * 16px);
      --px20: calc(var(--uix) * 20px);
      --px24: calc(var(--uix) * 24px);
      --px32: calc(var(--uix) * 32px);
      --px36: calc(var(--uix) * 36px);
      --px44: calc(var(--uix) * 44px);
      }
    html {
        font-size: 20px;
    }
  }

  /* 2560 × 1440p (2.5k / QHD) up to 3840 × 2160p (4k / UHD) (minus ~10% vertically) */
  /* 1.625 x base size */
  @media screen and (min-width: 2560px) and (max-width: 3839px) {
    :root {
      --uix: 1.625;
      --px1: var(--uix);
      --px2: calc(var(--uix) * 2px);
      --px8: calc(var(--uix) * 8px);
      --px16: calc(var(--uix) * 16px);
      --px20: calc(var(--uix) * 20px);
      --px24: calc(var(--uix) * 24px);
      --px32: calc(var(--uix) * 32px);
      --px36: calc(var(--uix) * 36px);
      --px44: calc(var(--uix) * 44px);
      }
    html {
        font-size: 26px;
    }
  }
  @media screen and (min-height: 1440px) and (max-height: 1981px) {
    :root {
      --uix: 1.625;
      --px1: var(--uix);
      --px2: calc(var(--uix) * 2px);
      --px8: calc(var(--uix) * 8px);
      --px16: calc(var(--uix) * 16px);
      --px20: calc(var(--uix) * 20px);
      --px24: calc(var(--uix) * 24px);
      --px32: calc(var(--uix) * 32px);
      --px36: calc(var(--uix) * 36px);
      --px44: calc(var(--uix) * 44px);
      }
    html {
        font-size: 26px;
    }
  }

  /* 3840 × 2160p (4K / UHD) (minus ~10% vertically) and up */
  /* 2.0 x base size */
  @media screen and (min-width: 3840px) {
    :root {
      --uix: 2.0;
      --px1: var(--uix);
      --px2: calc(var(--uix) * 2px);
      --px8: calc(var(--uix) * 8px);
      --px16: calc(var(--uix) * 16px);
      --px20: calc(var(--uix) * 20px);
      --px24: calc(var(--uix) * 24px);
      --px32: calc(var(--uix) * 32px);
      --px36: calc(var(--uix) * 36px);
      --px44: calc(var(--uix) * 44px);
      }
    html {
        font-size: 32px;
    }
  }
  @media screen and (min-height: 1982px) {
    :root {
      --uix: 2.0;
      --px1: var(--uix);
      --px2: calc(var(--uix) * 2px);
      --px8: calc(var(--uix) * 8px);
      --px16: calc(var(--uix) * 16px);
      --px20: calc(var(--uix) * 20px);
      --px24: calc(var(--uix) * 24px);
      --px32: calc(var(--uix) * 32px);
      --px36: calc(var(--uix) * 36px);
      --px44: calc(var(--uix) * 44px);
      }
    html {
        font-size: 32px;
    }
  }

  /* Semantic colors used across the app in light mode */
  :root {
    --c-surface-primary: #FFFFFF;
    --c-surface-secondary: #F5F5F5;

    --c-surface-victron-gray: #9695914b;    /* 0x4b ~ 30% opacity */
    --c-surface-victron-blue: #387DC54b;    /* 0x4b ~ 30% opacity */
    --c-surface-victron-red: #F35C584b;     /* 0x4b ~ 30% opacity */
    --c-surface-victron-yellow: #F0962E4b;  /* 0x4b ~ 30% opacity */
    --c-surface-victron-lime: #76832C4b;    /* 0x4b ~ 30% opacity */
    --c-surface-victron-cyan: #84CBF84b;    /* 0x4b ~ 30% opacity */
    --c-surface-victron-slate: #7F7F9C4b;   /* 0x4b ~ 30% opacity */
    --c-surface-victron-green: #72B84C4b;   /* 0x4b ~ 30% opacity */
    --c-surface-victron-purple: #6B4AB34b;  /* 0x4b ~ 30% opacity */

    --c-outline-primary: #DCDBD7;
    --c-outline-secondary: #F5F5F5;

    --c-content-primary: #000000;
    --c-content-secondary: #504F4B;
    --c-content-tertiary: #969591;

    --c-content-victron-gray: #969591;
    --c-content-victron-blue: #387DC5;
    --c-content-victron-red: #F35C58;
    --c-content-victron-yellow: #F0962E;
    --c-content-victron-lime: #76832C;
    --c-content-victron-cyan: #84CBF8;
    --c-content-victron-slate: #7F7F9C;
    --c-content-victron-green: #72B84C;
    --c-content-victron-purple: #6B4AB3;
  }
}

/* Semantic colors used across the app in dark mode */
.dark {
  --c-surface-primary: #000000;
  --c-surface-secondary: #141414;

  --c-surface-victron-gray: #9695914b;    /* 0x4b ~ 30% opacity */
  --c-surface-victron-blue: #387DC54b;    /* 0x4b ~ 30% opacity */
  --c-surface-victron-red: #F35C584b;     /* 0x4b ~ 30% opacity */
  --c-surface-victron-yellow: #F0962E4b;  /* 0x4b ~ 30% opacity */
  --c-surface-victron-lime: #76832C4b;    /* 0x4b ~ 30% opacity */
  --c-surface-victron-cyan: #84CBF84b;    /* 0x4b ~ 30% opacity */
  --c-surface-victron-slate: #7F7F9C4b;   /* 0x4b ~ 30% opacity */
  --c-surface-victron-green: #72B84C4b;   /* 0x4b ~ 30% opacity */
  --c-surface-victron-purple: #6B4AB34b;  /* 0x4b ~ 30% opacity */

  --c-outline-primary: #272622;
  --c-outline-secondary: #141414;

  --c-content-primary: #FFFFFF;
  --c-content-secondary: #969591;
  --c-content-tertiary: #64635F;

  --c-content-victron-gray: #504F4B;
  --c-content-victron-blue: #387DC5;
  --c-content-victron-red: #F35C58;
  --c-content-victron-yellow: #F0962E;
  --c-content-victron-lime: #76832C;
  --c-content-victron-cyan: #84CBF8;
  --c-content-victron-slate: #7F7F9C;
  --c-content-victron-green: #72B84C;
  --c-content-victron-purple: #6B4AB3;
}

/* Semantic colors used across the app in dark red mode */
.dark-red {
  --c-surface-primary: #000000;
  --c-surface-secondary: #140000;

  --c-surface-victron-gray: #4D08074b;    /* 0x4b ~ 30% opacity */
  --c-surface-victron-blue: #FF01004b;    /* 0x4b ~ 30% opacity */
  --c-surface-victron-red: #FF01004b;     /* 0x4b ~ 30% opacity */
  --c-surface-victron-yellow: #FF01004b;  /* 0x4b ~ 30% opacity */
  --c-surface-victron-lime: #FF01004b;    /* 0x4b ~ 30% opacity */
  --c-surface-victron-cyan: #FF01004b;    /* 0x4b ~ 30% opacity */
  --c-surface-victron-slate: #FF01004b;   /* 0x4b ~ 30% opacity */
  --c-surface-victron-green: #FF01004b;   /* 0x4b ~ 30% opacity */
  --c-surface-victron-purple: #FF01004b;  /* 0x4b ~ 30% opacity */

  --c-outline-primary: #4D0807;
  --c-outline-secondary: #4D0807;

  --c-content-primary: #FF0100;
  --c-content-secondary: #B00908;
  --c-content-tertiary: #4D0807;

  --c-content-victron-gray: #B00908;
  --c-content-victron-blue: #FF0100;
  --c-content-victron-red: #FF0100;
  --c-content-victron-yellow: #FF0100;
  --c-content-victron-lime: #FF0100;
  --c-content-victron-cyan: #FF0100;
  --c-content-victron-slate: #FF0100;
  --c-content-victron-green: #FF0100;
  --c-content-victron-purple: #FF0100;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-rendering: geometricPrecision;
  background-color: #000000;
}

p {
  margin: 0;
  padding: 0;
}

.min-safe-h-screen {
  min-height: 100vh;
}

@supports (-webkit-touch-callout: none) {
  .min-safe-h-screen {
    min-height: -webkit-fill-available;
  }
}

.safe-h-screen {
  height: 100vh;
}

@supports (-webkit-touch-callout: none) {
  .safe-h-screen {
    height: -webkit-fill-available;
  }
}

@font-face {
  font-family: MuseoSans;
  src: url("../../../css/fonts/MuseoSans/MuseoSans-300.otf"),
    url("../../../css/fonts/MuseoSans/MuseoSans-300Italic.otf"), url("../../../css/fonts/MuseoSans/MuseoSans-500.otf"),
    url("../../../css/fonts/MuseoSans/MuseoSans-500Italic.otf"), url("../../../css/fonts/MuseoSans/MuseoSans-700.otf"),
    url("../../../css/fonts/MuseoSans/MuseoSans-700Italic.otf");
}

@font-face {
  font-family: "Noto Sans SC";
  src: url("../../../css/fonts/NotoSansSC/NotoSansSC-Regular.otf");
}

* {
  font-family: MuseoSans, "Noto Sans SC", sans-serif;
}

*:focus {
  outline: none;
}

.modal {
  background-color: rgba(0 0 0 / 0.7);
}
