@import "../SelectorButton/SelectorButton.scss";

.amperage-selector__container {
  background-color: rgba(18, 26, 40, 1);
  border-radius: 16.6px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.amperage-selector__description {
  flex-basis: 100%;
  margin-bottom: 10px;
}

.amperage-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.empty {
  // Add these to "cheat" the flexbox and allow center alignment of selector buttons
  // AND left alignment to the last row of buttons if multilined. See ShoreInputLimitSelector.js
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0 10px;
  width: 130px;

  @media all and (max-width: 729px) {
    width: 110px;
  }

  @media all and (max-width: 579px) {
    width: 70px;
  }

  @media all and (max-width: 400px) {
    width: 50px;
    margin: 0 5px;
  }
}

.selector-button__amperage {
  margin: 10px;
  max-width: 130px;
  min-width: 130px;
  height: 125px;
  line-height: 125px;


  @media all and (max-width: 729px) {
    max-width: 110px;
    min-width: 110px;
    height: 110px;
  }

  @media all and (max-width: 579px) {
    max-width: 70px;
    min-width: 70px;
    height: 70px;
  }

  @media all and (max-width: 400px) {
    max-width: 50px;
    min-width: 50px;
    height: 50px;
    margin: 5px;
  }
}
