@import "../../../css/variables.scss";

.list-view {
  flex-direction: column;
  align-items: flex-start;
}

.list-view__header {
  display: flex;
  align-items: center;
  margin-bottom: $metricHeaderMarginBottom;
}

.list-view__rows {
  display: flex;
  flex-direction: column;
}

.list-row {
  margin-top: 5px;
}
