html, body {
			    margin: 0;
			    padding: 0;
          background-color: #ECECEC;
          font-family: "Handset Condensed", Helvetica, Arial, Sans-Serif;
          color: #4D4E53;
			}
* {
    box-sizing: border-box;
}

h4 {
	font-size: 3vw;
  padding-right: 40px;
  margin-top: 0;
}

header {
  text-align: center;
  background-color: #387DC5;
  padding: 10px;
  margin-bottom: 10px;
}

/*********** SIDE FLYOUT NAV ***********/
.sidenav {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: #fff;
		overflow-x: hidden;
		transition: 0.5s;
		padding: 0;

		-webkit-box-shadow: 7px 0px 25px -6px rgba(0,0,0,0.69);
		-moz-box-shadow: 7px 0px 25px -6px rgba(0,0,0,0.69);
		box-shadow: 7px 0px 25px -6px rgba(0,0,0,0.69);
}

.amps, .modeBtn {
	padding: 20px;
}
.sidenav .amps a {
		padding: 14px 0;
    text-decoration: none;
    font-size: 5vw;
    color: #fff;
    display: inline-block;
    transition: 0.3s;
    background-color: #387DC5;
    margin: 5px;
    border-radius: 5px;
    width: 29%;
    text-align: center;
		font-weight: bold;
}

.sidenav .modeBtn a {
		padding: 14px 0;
		text-decoration: none;
		font-size: 5vw;
		color: #4d4e53;
		display: inline-block;
		transition: 0.3s;
		background-color: #EAEAEA;
		margin: 10px 0;
		border-radius: 5px;
		width: 100%;
		text-align: center;
		font-weight: bold;
}

.sidenav .modeBtn a.modeBtnOn {
	background-color: #387DC5;
	color: #fff;
}

.sidenav .closebtn {
	position: absolute;
	top: 2px;
	right: 19px;
	font-size: 46px;
	margin-left: 50px;
	color: #FF7427;
	text-decoration: none;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

/*********** END SIDE FLYOUT NAV ***********/

.bottomBtn {
	background: #387cc6;
	margin: 10px 3px -7px 3px;
	display: block;
	padding: 6px;
	text-align: center;
	border-radius: 0 0 5px 5px;
	color: white;
}

.bottomBtn img.bottomImgArrow {
		width: auto;
    margin-bottom: -5px;
    display: inline-block;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
    z-index: 0;
}

.g {
    background: #fff;
    border: 10px solid transparent;
    -webkit-box-shadow:inset 0 0 0 2px #DADADA;
		-moz-box-shadow:inset 0 0 0 2px #DADADA;
		box-shadow:inset 0 0 0 2px #DADADA;
    background-clip:padding-box;
    border-radius: 16px;
    padding: 15px 0px 10px 0px;
    position: relative;
    font-size: 6vw;
    text-align: center;
		font-weight: normal;

}

.g img {
  width: 30%;
  padding: 2% 0;
}

.voltage, .mode {
  font-size: 5.4vw;
 font-weight: bold;
}

/*********** MODULES ***********/

.remoteBtn {
  line-height: 24px;
  display: inline-block;
  background: white;
  border: none;
  font-size: 14px;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px 20px;
  color: #387cc6;
  position: absolute;
  right: 10px;
  font-family: “Handset Condensed”, Helvetica, Arial, Sans-Serif;
}

.staleValues {
  color: #b1b1b1;
}

.shorePower {
	-webkit-box-shadow: inset 0 0 0 2px #387DC5;
	-moz-box-shadow: inset 0 0 0 2px #387DC5;
	box-shadow: inset 0 0 0 2px #387DC5;
}

.shorePower:after {
	content: none;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 18px;
  border-color: transparent transparent transparent #387DC5;
  right: -10%;
  top: 50%;
  margin-top: -9px;
  z-index: -1;
  margin-left: -5px;
}

.shorePower:before {
  content: none;
  position: absolute;
  right: -20%;
  background: #387DC5;
  height: 2px;
  width: 20%;
  top: 50%;
  z-index: -1;
}

.batteryDischarge {
	-webkit-box-shadow: inset 0 0 0 2px #387DC5;
	-moz-box-shadow: inset 0 0 0 2px #387DC5;
	box-shadow: inset 0 0 0 2px #387DC5;
}

.batteryDischarge:after {
	content: none;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 18px 10px;
    border-color: transparent transparent #387cc6 transparent;
    top: -14%;
    left: 50%;
    margin-left: -11px;
    z-index: -1;
}

.batteryDischarge:before {
  content: none;
  position: absolute;
  right: 50%;
  background: #387DC5;
  height: 30%;
  width: 2px;
  top: -42px;
  z-index: -1;
}

.batteryCharge {
	-webkit-box-shadow: inset 0 0 0 2px #387DC5;
	-moz-box-shadow: inset 0 0 0 2px #387DC5;
	box-shadow: inset 0 0 0 2px #387DC5;
}

.batteryCharge:after {
	content: none;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
		border-width: 18px 10px 0 10px;
		border-color: #387cc6 transparent transparent transparent;
    top: -14%;
    left: 50%;
    margin-left: -11px;
    z-index: -1;
}

.batteryCharge:before {
  content: none;
  position: absolute;
  right: 50%;
  background: #387DC5;
  height: 30%;
  width: 2px;
  top: -42px;
  z-index: -1;
}

.multiPlus {
	-webkit-box-shadow: inset 0 0 0 2px #387DC5;
	-moz-box-shadow: inset 0 0 0 2px #387DC5;
	box-shadow: inset 0 0 0 2px #387DC5;
}

.ACLoads {
	-webkit-box-shadow: inset 0 0 0 2px #387DC5;
	-moz-box-shadow: inset 0 0 0 2px #387DC5;
	box-shadow: inset 0 0 0 2px #387DC5;
}

.ACLoads:after {
	content: none;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 18px;
    border-color: transparent transparent transparent #387DC5;
    left: -7%;
    top: 50%;
    margin-top: -9px;
    z-index: -1;
    margin-left: -5px;
}

.ACLoads:before {
  content: none;
  position: absolute;
  left: -20%;
  background: #387DC5;
  height: 2px;
  width: 20%;
  top: 50%;
  z-index: -1;
}

.DCLoads {
	-webkit-box-shadow: inset 0 0 0 2px #387DC5;
	-moz-box-shadow: inset 0 0 0 2px #387DC5;
	box-shadow: inset 0 0 0 2px #387DC5;
}

.DCLoads:after {
	content: none;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 18px;
    border-color: transparent transparent transparent #387DC5;
    left: -7%;
    top: 50%;
    margin-top: -9px;
    z-index: -1;
    margin-left: -5px;
}

.DCLoads:before {
  content: none;
  position: absolute;
  left: -20%;
  background: #387DC5;
  height: 2px;
  width: 20%;
  top: 50%;
  z-index: -1;
}

/*********** CHARGING PROGRESS ICON ***********/
.batteryProgress {
		display: inline-block;
    width: 30%;
    padding-bottom: 30%;
    height: 0;
		background-size: 100%;
		background-image: url('../images/ico-battery.png');
		background-repeat: no-repeat;
		background-position: center center;
		position: relative;
}
.batteryProgress:after {
	content: "";
  position: absolute;
  top: 43%;
  left: 1%;
  bottom: 26%;
  right: 2%;
  background: #6f6e69;
}

/*********** LAYOUT ***********/

.grid-33 {
    width: 100%;
}
.grid-50 {
    width: 50%;
}
.grid-66 {
    width: 66.6666%;
}
.grid-100 {
    width: 100%;
}


/*********** Extra Small Devices, Phones ***********/
@media only screen and (min-width : 480px) {
  .grid-33 {
      width: 33.3333%;
  }
	.shorePower:after, .shorePower:before, .batteryDischarge:after, .batteryDischarge:before, .batteryCharge:after, .batteryCharge:before, .ACLoads:after, .ACLoads:before, .DCLoads:after, .DCLoads:before {
		content: "";
	}
	.g {
		font-size: 3vw;
	}
	.voltage, .mode {
	  font-size: 2.6vw;
	}
	.bottomBtn img {
			width: auto;
	    margin-bottom: -5px;
	    display: inline-block;
	}

}

/*********** Small Devices, Tablets ***********/
@media only screen and (min-width : 768px) {
	.g {
	    font-size: 3.2vw;
			border: 14px solid transparent;
			border-radius: 20px;
			-webkit-box-shadow:inset 0 0 0 3px #DADADA;
			-moz-box-shadow:inset 0 0 0 3px #DADADA;
			box-shadow:inset 0 0 0 3px #DADADA;
	}
	h4 {
			font-size: 3.2vw;
	}
	.g img {
	  width: 25%;
	  padding: 2% 0;
	}
	.voltage, .mode {
	  font-size: 3vw;
	}

	.batteryProgress {
			width: 25%;
	    padding-bottom: 25%;
	}
.shorePower, .multiPlus, .batteryCharge, .batteryDischarge, .ACLoads, .DCLoads {
	-webkit-box-shadow: inset 0 0 0 3px #387DC5;
	-moz-box-shadow: inset 0 0 0 3px #387DC5;
	box-shadow: inset 0 0 0 3px #387DC5;
}

.bottomBtn img {
		width: auto;
    margin-bottom: -5px;
    display: inline-block;
}

.sidenav .amps a, .sidenav .modeBtn a {
    font-size: 3vw;
}

}

/*********** Medium Devices, Desktops ***********/
@media only screen and (min-width : 992px) {
	.container {
	    padding: 0 10%;
	}
	.g img {
	  width: 25%;
	  padding: 2% 0;
	}
	.batteryProgress {
			width: 25%;
	    padding-bottom: 25%;
	}
	.voltage, .mode {
	  font-size: 2.2vw;
	}
	.g {
	    font-size: 2.6vw;
			border: 16px solid transparent;
			border-radius: 24px;
	}
	h4 {
			font-size: 2.6vw;
	}
	.sidenav .amps a, .sidenav .modeBtn a {
	    font-size: 2vw;
	}
}

/*********** Large Devices, Wide Screens ***********/
@media only screen and (min-width : 1200px) {
	.container {
			padding: 0 10%;
	}
	.g img {
		width: 30%;
		padding: 2% 0;
	}
	.batteryProgress {
			width: 30%;
			padding-bottom: 30%;
	}
	.voltage, .mode {
	  font-size: 1.6vw;
	}
	.g {
	    font-size: 2.4vw;
			border: 20px solid transparent;
			border-radius: 30px;
	}
	h4 {
		font-size: 1.6vw;
	}
	.bottomBtn {
    border-radius: 0 0 8px 8px;
}
