@import '../../css/variables.scss';

.not-available {
  height: $donut-height-big;
  margin-bottom: 0.5em;
  display: flex;
  align-self: center;
  align-content: center;
  align-items: center;
  color: $color-gray;
}
