@import "../../../css/variables.scss";

.selector-button {
  background-color: #2a3341;
  color: $color-lightgray;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  cursor: pointer;

  &:not(.selector-button--disabled):active {
    background-color: $color-active;
    color: $color-white;
  }
}

.selector-button:focus {
  outline: 0;
}

.selector-button--active {
  background-color: $color-active;
  color: $color-white;

}

.selector-button--disabled {
  opacity: 0.5;
  cursor: default;
}

.selector-button--left {
  border-radius: 6px 0 0 6px;
  padding: 0 24px;
}

.selector-button--right {
  border-radius: 0 6px 6px 0;
  padding: 0 24px;
}

.selector-button--middle {
  background-color: #2a3341;
  line-height: 1.2;
  padding: 0 12px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  min-width: 36px;
  margin: 0 1px;
  border-radius: 0;
}
