@import "../../../css/variables.scss";

.selector-button {
  background-color: #2a3341;
  color: white;
  height: 100%;
  border: none;
  border-radius: 6px;
  flex-grow: 1;
  cursor: pointer;
  line-height: 1.2;
  padding: 15px 45px;
}

.selector-button:focus {
  outline: 0;
}

.selector-button--active {
  background-color: $color-active;
}
