@import "../../../css/variables.scss";

.metric__battery {
  background-image: url("../../../images/boat.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto 100%;

  @media #{$portrait} {
    background-position: bottom right;
    background-size: auto 50%;
  }

  @media #{$tiny} {
    background-image: none;
  }
}

.metric__battery-level-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media #{$tiny} {
    width: auto;
    margin-right: 20px;
  }

  &--col {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

.disconnected .metric__battery-level-container {
  opacity: 0.5;
}
