@import "../../../css/variables.scss";

.metric__battery {
  height: auto;
  flex-direction: column;
  align-items: flex-start;
}

.battery__header {
  display: flex;
  margin-bottom: 17px;
  box-sizing: content-box;
}

.battery__header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: $rightLeftPadding;
}

.metric__battery-level-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 20px;

  &--col {
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
}

.disconnected .metric__battery-level-container {
  opacity: 0.5;
}

.batteries {
  width: 100%;
}

.battery {
  display: flex;
  background-color: #1d2433;
  border-radius: 2px;

  &:not(:last-child) {
    margin-bottom: 9px;
  }

  width: 100%;
}

.battery__index {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  width: 75px;
}

.battery__data {
  border-left: solid 1px #131a28;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding-left: 30px;
  width: 100%;
}

.battery-level__time-to-go {
  white-space: nowrap;
}

.button__paginator {
  display: flex;
  justify-content: center;
  align-items: center;

  .selector-button {
    flex-grow: unset;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.button__paginator-label {
  margin-right: 20px;
}
