@import "../../../css/variables.scss";

header {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;

  padding: 50px 10px 10px;

  // @media #{$portrait}, #{$small} {
  //   padding: 50px 30px 10px;
  // }

  // @media all and (max-width: 1340px) {
  //   padding: 50px 50px 5px;
  // }

  // @media #{$portrait}, #{$small} {
  //   padding: 50px 30px 10px;
  // }

  // @media #{$narrow-portrait}, #{$tiny} {
  //   padding: 50px 10px 5px;
  // }
}

.logo {
  width: 185px;

  @media #{$regular} {
    width: 150px;
  }

  @media #{$minimum} {
    width: 115px;
  }
}

.header__paginator {
  display: flex;

  .selector-button {
    padding: 10px 20px;
  }

  .header__paginator-page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
  }
  
  .header__paginator-button {
    display: flex;
    max-height: 22px;
    height: 100%;
  }
}

.connection {
  display: flex;
  align-items: center;

  :not(:last-child) {
    @media #{$tiny} {
      display: none;
    }
  }
}

.remote-console-button {
  margin-left: 25px;
  padding: 13px 20px;
  text-decoration: none;
  border-radius: 6px;
  border: none;
  color: $color-lightgray;
  background-color: #2A3341;
  outline: none;
  cursor: pointer;
}

.remote-console-button {
  @media #{$hide-remote-console-breakpoint} {
    display: none;
  }
}
