@import "../../../css/variables.scss";

header {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 15%;
  width: 100%;
  padding: 0 40px;
}

.logo {
  width: 183px;

  @media #{$regular} {
    width: 146px;
  }

  @media #{$minimum} {
    width: 115px;
  }
}

.connection {
  display: flex;
  align-items: center;

  :not(:last-child) {
    @media #{$tiny} {
      display: none;
    }
  }
}

.connection__icon {
  height: 22px;
  width: 23px;
  margin-right: 15px;

  @media #{$regular} {
    height: 14px;
    width: 15px;
  }

  @media #{$minimum} {
    height: 12px;
    width: 12px;
    margin-right: 5px;
  }
}

.remote-console-button {
  margin-left: 25px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 6px;
  border: none;
  color: white;
  background-color: #0a101f;
  outline: none;
  cursor: pointer;
}
