@import "../../../css/variables.scss";

header {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  padding: 30px 10px;

  @media all and (max-width: 1340px) {
    padding: 20px 50px;
  }

  @media #{$portrait}, #{$small} {
    padding: 20px 30px;
  }

  @media #{$narrow-portrait}, #{$tiny} {
    padding: 10px 10px;
  }

  @media #{$low-landscape} {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  @media #{$very-low-landscape} {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.logo {
  width: 183px;

  @media #{$regular} {
    width: 146px;
  }

  @media #{$minimum} {
    width: 115px;
  }
}

.connection {
  display: flex;
  align-items: center;

  :not(:last-child) {
    @media #{$tiny} {
      display: none;
    }
  }
}

.connection__icon {
  height: 22px;
  width: 23px;
  margin-right: 15px;

  @media #{$regular} {
    height: 14px;
    width: 15px;
  }

  @media #{$minimum} {
    height: 12px;
    width: 12px;
    margin-right: 5px;
  }
}

.remote-console-button {
  margin-left: 25px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 6px;
  border: none;
  color: $color-lightgray;
  background-color: #2A3341;
  outline: none;
  cursor: pointer;
}

.remote-console-button {
  @media #{$hide-remote-console-breakpoint} {
    display: none;
  }
}
