@import "../Header/Header";
@import "../../../../css/variables";

.lock-button {
  @extend .header-button;
  margin-right: 10px;

  @media #{$minimum} {
    display: none;
  }
}

.lock-button-footer {
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  padding: 15px 0 15px 0;
  background: #2a3341;
  color: $color-lightgray;
  border-radius: 6px;
  border: none;
  width: calc(100% - 20px);
  margin: 0 10px 2vh 10px;
  display: none;

  @media #{$minimum} {
    display: flex;
  }
}

.lock-icon {
  display: flex;
  height: 1rem;
}

.lock-text {
  margin-left: 9px;
}
