@import "../../css/variables";

.paginator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 6rem;
  .paginator__icon {
    width: 2rem;
    height: 2rem;
    padding: 0.3rem 0.5rem ;
    margin: 0.6rem 1rem;
    background-color: $paginator-arrow-color;
    border-radius: 5px;
    cursor: pointer;
  }

  .paginator__dot {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: $color-lightgray;
    margin: auto 0.4rem;
  }
}
