
@import '../../KVNRV/css/variables';

$size-multiplier: 2;
$small-chart-width-factor: 0.85;
$small-chart-height-factor: 0.65;

.gauge-indicator {
  position: relative;
  height: $donut-height-big;
  width: $donut-width-big;
  align-self: center;

  .top-chart {
    position: absolute;
    top: 0;
    left: 0;
    width: $donut-width-big !important;
    height: $donut-height-big !important;
  }

  .bottom-chart {
    position: absolute;
    width: $donut-size-small * $small-chart-width-factor !important;
    height: $donut-size-small * $small-chart-height-factor !important;
    top: calc(50% + #{$donut-offset});
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.big {
    height: $donut-height-big * $size-multiplier;
    width: $donut-width-big * $size-multiplier;

    .top-chart {
      width: $donut-width-big * $size-multiplier !important;
      height: $donut-height-big * $size-multiplier !important;
    }

    .bottom-chart {
      width: $donut-size-small * $small-chart-width-factor * $size-multiplier !important;
      height: $donut-size-small * $small-chart-height-factor * $size-multiplier !important;
      top: calc(50% + #{$donut-offset * $size-multiplier});
    }
  }
}
