
.indicator {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding-bottom: 0.2rem;

  .value {
    text-align: left;
    font-weight: 500;
  }

  .name {
    color: $color-gray;
  }
}

.indicator-main {
  @extend .indicator;
  flex-direction: row;

  .value {
    font-size: $indicator-main-font-value-big;
    font-weight: 500;
    margin-right: 0.2rem
  }

  .name {
    font-size: $indicator-main-font-name-big;
  }
}

.indicator-main--small {
  @extend .indicator-main;

  .value {
    line-height: $indicator-main-font-value-small;
    font-size: $indicator-main-font-value-small;
  }

  .name {
    line-height: $indicator-main-font-value-small;
    font-size: $indicator-main-font-name-small;
  }
}
