@import "./variables.scss";

.indicator {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding-bottom: 0.5rem;

  .value {
    text-align: left;
    font-weight: bolder;
  }

  .name {
    color: $color-lightgray;
  }
}

.indicator-main {
  @extend .indicator;
  flex-direction: row;

  .value {
    line-height: $indicator-main-font-value-big;
    font-size: $indicator-main-font-value-big;
    font-weight: bold;
    margin-right: 0.5rem
  }

  .name {
    line-height: $indicator-main-font-value-big;
    font-size: $indicator-main-font-name-big;
  }
}

.indicator-main--small {
  @extend .indicator-main;

  .value {
    line-height: $indicator-main-font-value-small;
    font-size: $indicator-main-font-value-small;
  }

  .name {
    line-height: $indicator-main-font-value-small;
    font-size: $indicator-main-font-name-small;
  }
}
