@import "../../../css/texts.scss";

@import "./variables.scss";
@import "./grid.scss";
@import "./indicators.scss";


body {
  --color-lightgray: #D8D8D8;
  --color-green: #00C564;
  --color-yellow: #eda63e;
  --color-red: #ea5b57;
}

.light {
  --main-bg-color: #F4F5F7;
  --text-color-main: var(--color-black);
  --card-bg-color: #ffffff;
  --header-bg-color: #28348D;
  --header-button-color: #3E4DBE;
  --card-shadow-color: var(--color-lightgray);
}

.dark {
  --main-bg-color: #202633;
  --text-color-main: #ffffff;
  --card-bg-color: #2D333F;
  --header-bg-color: #141B27;
  --header-button-color: #2D333F;
  --card-shadow-color: var(--color-black);
}

.container {
  width: 100%;
  height: 100%;
  background-color: $main-bg-color;
}

.metrics-container {
  color: $text-color-main;
  width: 100%;
  height: content-box;

  .container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}


.gauge {
  display: flex;
  flex-direction: column;
}


.info-bar {
  border-radius: 5px;
  border: $color-gray solid 1px;
  color: $color-gray;
  text-align: center;
  font-weight: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .info-bar__cell {
    width: 100%;
    padding: 0.2rem;
    white-space: nowrap;

    &:nth-child(n+2) {
      border-left: $color-gray solid 1px;
    }
  }
}

.success { background-color: $color-green !important; }
.warning { background-color: $color-yellow !important; }
.alarm { background-color: $color-red !important; }
