
.metrics-container {
  background-color: $background-color;
  color: $text-color-main;
  overflow: scroll;
  width: 100%;
  height: 100%;

  .container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.metric {

}


.gauge {
  display: flex;
  flex-direction: column;
}


.info-bar {
  border-radius: 5px;
  border: $color-gray solid 1px;
  color: $color-gray;
  text-align: center;
  font-weight: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .info-bar__cell {
    width: 100%;
    padding: 0.2rem;

    &:nth-child(n+2) {
      border-left: $color-gray solid 1px;
    }
  }
}

.success { background-color: $color-green !important; }
.warning { background-color: $color-yellow !important; }
.alarm { background-color: $color-red !important; }
