@import "./variables.scss";
@import "./grid.scss";
@import "./indicators.scss";

.metrics-container {
  background-color: #ebecee;
  width: 100%;
  height: 100%;
}

.metric {

}


.gauge {
  display: flex;
  flex-direction: column;
}
