@import "./variables.scss";
@import "./grid.scss";
@import "./indicators.scss";

.metrics-container {
  background-color: #ebecee;
  width: 100%;
  height: 100%;
}

.metric {

}


.gauge {
  display: flex;
  flex-direction: column;
}


.info-bar {
  border-radius: 5px;
  border: $color-lightgray solid 1px;
  color: $color-lightgray;
  padding: 0.2rem;
  text-align: center;
  font-weight: 100;
}
