@import '../../../css/variables.scss';

.login-page {
  font-size: 1.4rem;

  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;

  a {
    text-decoration: none;
    color: #5b65d0;
  }

  .login__body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .login__logo {
      padding-right: 1em;
      align-self: center;

      .login__logo__image {
        vertical-align: middle;
        margin-right: 0.5em;
        width: 3em;
      }

      .login__logo__text {
        font-family: Tommy, sans-serif;
        font-size: 2em;
        vertical-align: middle;
      }
    }

    .login__form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 24em;

      .login__form__label {
        display: flex;
        flex-direction: column;
        padding: 0.5em;
        margin-top: 1em;
      }

      .login__form__error {
        color: $color-red;
        text-align: center;
        margin-top: 1em;
      }

      .login__form__input {
        border: $color-lightgray solid 2px;
        border-radius: 5px;
        height: 2.5em;
        font-size: 1.1em;
        background-color: $main-bg-color;
        color: $text-color-main;
        padding: 0 0.5em;

        &:invalid, &.invalid {
          border: $color-red solid 4px;
        }
      }

      .login__form__button {
        background-color: $color-login-blue;
        color: $color-white;
        border-radius: 5px;
        font-size: 1.1em;
        padding: 0.7em;
        margin-bottom: 1.5em;

        &.login {
          margin-top: 3em;
        }

        &.go_back {
          background-color: $main-bg-color;
          color: $text-color-main;
          border: 1px solid $text-color-main;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          .login__form__icon__go_back {
            margin: auto 8px auto -24px;
          }
        }
      }
    }

    .login__bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .login__bottom__remember {
        height: 2em;
        vertical-align: middle;

        .login__checkbox {
          border-radius: 5px;
          border: 2px solid $color-lightgray;
          width: 1.5em;
          height: 1.5em;
          background-color: $main-bg-color;
          appearance: none;
          vertical-align: middle;
          margin-right: 0.5em;

          &:checked:after {
            content: '\2713';
            color: $text-color-main;
            line-height: 1em;
            font-size: 1.4em;
            width: 1em;
            text-align: center;
            position: absolute;
          }
        }

        label {
          line-height: 1.6em;
          vertical-align: middle;
        }
      }
    }

    .login__footer {
      position: absolute;
      width: 24em;
      text-align: center;
      bottom: 3em;
    }
  }
}
