@import "../../../css/variables.scss";

.metric--shore-input-limit > .selector-button > span:first-child {
  margin-right: 10px;

  @media #{$portrait} {
    margin-right: 5px;
  }
}

.metric__shore-input-limit--not-adjustable {
  width: 100%;
  text-align: center;
}

.metric__shore-input-limit__limit {
  margin-right: 30px;
  color: #30afff;
}
