@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-rendering: geometricPrecision;
}

.min-safe-h-screen {
    min-height: 100vh;
}

@supports (-webkit-touch-callout: none) {
    .min-safe-h-screen {
        min-height: -webkit-fill-available;
    }
}

.safe-h-screen {
    height: 100vh;
}

@supports (-webkit-touch-callout: none) {
    .safe-h-screen {
        height: -webkit-fill-available;
    }
}
