@import "../Header/Header.scss";

.lock-button {
  @extend .header-button;
  margin-right: 10px;

  @media #{$hide-remote-console-breakpoint} {
    visibility: hidden;
  }

  @media #{$minimum} {
    display: none;
  }
}

.lock-button-header {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 10px;
  background: #2a3341;
  color: $color-lightgray;
  padding: 15px 24px;

  visibility: hidden;
  display: none;

  @media #{$hide-remote-console-breakpoint} {
    visibility: visible;
  }

  @media #{$minimum} {
    display: flex;
  }
}
