@import "../../css/variables";


.inverter {
  flex-direction: column;
  height: auto;
}

.inverter__mode-selector {
  margin-top: $metricHeaderMarginBottom;
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.inverter__mode-selector > .selector-button {
  &:not(:first-child) {
    margin-left: 10px;
  }

  padding-left: 0;
  padding-right: 0;
}
