@import "../../css/variables";


.card {
  padding: 0.8rem;
  border-radius: 5px;
  box-shadow: 2px 2px 8px $color-lightgray;
  background: white;
  color: black;
  margin: $card-margin;

  &.small {
    width: $card-width-small;
    height: $card-height-small;
  }
  &.big {
    width: $card-width-big;
    height: $card-height-big;
  }

  .header {
    margin-bottom: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    border-bottom: 1px solid $color-lightgray;

    .header__text {
      color: $color-black;
      font-weight: bolder;
    }
  }

  .body {
    padding: 0.5rem;
  }
}

  .footer {
    bottom: 0;
    font-size: 0.7rem;
    padding: 0.2rem 0.8rem;
    border-radius: 0 0 5px 5px;
    color: white;

    &.success { background-color: $color-green; }
    &.warning { background-color: $color-yellow; }
    &.alarm { background-color: $color-red; }
  }
}
