


.card {
  border-radius: 5px;
  box-shadow: 2px 2px 8px $color-gray;
  background: white;
  color: black;
  margin: $card-margin;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.small {
    width: $card-width-small;
    height: $card-height-small;
  }
  &.big {
    width: $card-width-big;
    height: $card-height-big;
  }

  &.long {
    height: ($card-height-small * 2) + ($card-margin * 2)
  }

  .contents {
    padding: 0.8rem;

    .header {
      margin-bottom: 0.75rem;
      padding-bottom: 0.5rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      border-bottom: 1px solid $color-gray;
      justify-content: space-between;

      .header__text {
        color: $color-black;
        font-weight: bolder;
      }
    }

    .body {
      padding: 0.5rem;
      height: 100%;
    }
  }

  .footer {
    bottom: 0;
    font-size: 0.7rem;
    padding: 0.2rem 0.8rem;
    border-radius: 0 0 5px 5px;
    color: white;
  }
}
