@import "../../../css/variables";

.error {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div {
    width: 50%;
  }

  p {
    margin-bottom: 10px;
  }
}
