@import "../../css/variables.scss";


.list-view {
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.list-view__header {
  display: flex;
  align-items: center;
}

.widget--header {
  display: table;
  width: fit-content;
}

.widget--header > div {
  display: table-cell;
  vertical-align: top;
}

.list-view__rows {
  margin-top: $metricHeaderMarginBottom;
  display: flex;
  flex-direction: column;
}

.list-row {
  display: flex;
  align-items: center;
}

.list-row:not(:first-child) {
  margin-top: 5px;
}
