@import '../../css/variables.scss';

.big-tank {
  display: flex;
  flex-direction: row;

  .indicator-main {
    flex: 1;
  }

  .tank-illustration {
    flex: 1;
    svg {
      width: 100%;
      height: auto;
    }
  }
}
