@import '../../css/variables.scss';

.metrics__status {
  .title {
    font-size: $indicator-main-font-value-big;
    margin-bottom: 0.6em;
  }

  .subheading {
    font-size: $indicator-main-font-name-small;
    color: $color-gray;
    justify-content: space-between !important;
    margin-top: 0.5rem;
  }

  .status-updates {
    margin-top: 1em;
    height: 9em;
    overflow: auto;

    &.small {
      height: 7em;
    }

    .status-update {
      margin-top: 1em;
      border-radius: 5px;
      padding: 0.3em;
      color: white;
      font-size: 0.9rem;
      justify-content: space-between;
      align-items: center;

      &.warning {
        .status-update__icon {
          background-color: $color-yellow-fade;
        }
      }
      &.alarm {
        .status-update__icon {
          background-color: $color-red-fade;
        }
      }

      .status-update__message {
        margin-left: 0.2em;
      }

      .status-update__icon {
        margin-right: 0.2em;
        padding: 0.2em;
        border-radius: 5px;
      }
    }
  }
}
