// Use 1920px screen as baseline and scale down when needed

@import "./variables.scss";

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  padding: 20px 60px;

  @media #{$minimum} {
    padding: 20px 10px;
  }
}

.fixed--full-size {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.bg {
  z-index: -1;
  background: radial-gradient(#2e3745, #1f2535);
}

p {
  margin: 0;
}

header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.logo {
  width: 210px;
  margin-left: 40px;

  @media #{$wide} {
    width: 183px;
  }

  @media #{$regular} {
    width: 146px;
  }
}

.connection {
  display: flex;
  align-items: center;
}

.connection__icon {
  height: 28px;
  width: 30px;
  margin-right: 15px;

  @media #{$wide} {
    height: 18px;
    width: 19px;
  }

  @media #{$regular} {
    height: 14px;
    width: 15px;
  }
}

.remote-console {
  margin-left: 25px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 6px;
  background-color: #121a28;
}

.metric {
  margin-bottom: 40px;
  height: 150px;
  padding: 33px 40px 33px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-radius: 16.6px;
  background-color: rgba(18, 26, 40, 1);

  @media #{$wide} {
    height: 100px;
    padding: 20px 40px 20px 40px;
  }

  @media #{$regular} {
    height: 80px;
    padding: 17px 35px 17px 35px;
  }
}

.multi-metric-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media #{$narrow} {
    flex-direction: column;
  }
}

.metric__container {
  @media #{$very-narrow} {
    flex-direction: column;
    height: 180px;
    align-items: flex-start;
  }
}

.metric--small {
  width: calc(50% - 10px);

  @media #{$narrow} {
    width: 100%;
  }
}

.metric__icon {
  height: 100%;
}

.metric__container--left {
  display: flex;
  height: 100%;
  align-items: center;

  @media #{$very-narrow} {
    height: 60px;
  }
}

.metric__value-container {
  margin-right: auto;
  margin-left: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.metric__values {
  display: flex;
}

.disconnected {
  .metric__values,
  button span,
  .text--bottom-align {
    opacity: 0.5;
  }
}

.value {
  width: 65px;

  @media #{$wide} {
    width: 55px;
  }

  @media #{$regular} {
    width: 45px;
  }
}

.value:not(:first-child) {
  text-align: center;
  padding-left: 35px;
  border-left: 0.5px solid rgba(255, 255, 255, 0.29);

  @media #{$wide} {
    padding-left: 25px;
  }

  @media #{$regular} {
    padding-left: 15px;
  }
}

.value:not(:last-child) {
  padding-right: 35px;

  @media #{$wide} {
    padding-right: 25px;
  }

  @media #{$regular} {
    padding-right: 15px;
  }
}

.metrics-selector {
  height: 100%;
  width: calc(50% - 45px);
  display: flex;
  justify-content: space-between;

  @media #{$wide} {
    width: calc(50% - 40px);
  }

  @media #{$regular} {
    width: calc(50% - 37px);
  }

  @media #{$very-narrow} {
    height: 60px;
    width: 100%;
  }
}

.selector-button {
  background-color: #0a101f;
  color: white;
  height: 100%;
  border: none;
  border-radius: 6px;
  flex-grow: 1;
  cursor: pointer;
}

.selector-button:not(:first-child) {
  margin-left: 10px;
}

.selector-button:focus {
  outline: 0;
}

.selector-button--active {
  background-color: #30afff;
}

.selector-button--disabled {
  opacity: 0.8;
}

.selector-button__shore-input-limit > span:first-child {
  margin-right: 10px;
}

.metric__mode--readonly {
  width: calc(50% - 40px);
}

.metric__battery {
  background-image: url("../images/boat.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto 100%;

  @media #{$very-narrow} {
    background-position: bottom right;
    background-size: auto 50%;
  }
}

.metric__battery-level-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 55px;
  width: calc(50% - 45px);

  @media #{$wide} {
    width: calc(50% - 40px);
  }

  @media #{$regular} {
    width: calc(50% - 37px);
  }
}

.text--bottom-align {
  display: flex;
  align-items: flex-end;
}

.text--bottom-align > p {
  line-height: 1;
}

.amperage-selector__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.amperage-selector {
  padding: 25px;
  border-radius: 16.6px;
  background-color: rgba(18, 26, 40, 1);

  @media #{$minimum} {
    margin: 20px 10px;
  }

  @media screen and (max-width: 1070px) {
    width: 750px;
  }

  @media screen and (max-width: 920px) {
    width: 600px;
  }

  @media screen and (max-width: 770px) {
    width: 450px;
  }

  @media screen and (max-width: 620px) {
    width: 300px;
  }
}

.selector-button__amperage {
  margin: 10px;
  max-width: 130px;
  min-width: 130px;
  height: 125px;
}
