$portrait: "all and (max-width: 1100px)";
$portrait-small: "all and (max-width: 700px)";

@font-face {
  font-family: Roboto;
  src: url("./Roboto-Regular.ttf"), url("./Roboto-Bold.ttf");
}

* {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
  padding: 20px 40px;
  color: white;
}

.bg {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: radial-gradient(#2e3745, #1f2535);
}

p {
  margin: 0;
}

main {
  width: 100%;
  height: 100%;
}

header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.logo {
  height: 35px;
  width: 183px;
  margin-left: 20px;
}

.connection {
  display: flex;
  align-items: center;
}

.connection__icon {
  height: 19px;
  width: 19px;
  margin-right: 15px;
}

.remote-console {
  color: white;
  margin-left: 25px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 6px;
  background-color: rgba(10, 16, 31, 0.8);
}

.metric {
  margin-bottom: 40px;
  height: 100px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-radius: 16.6px;
  background-color: rgba(18, 26, 40, 1);

  @media #{$portrait-small} {
    flex-direction: column;
    height: 200px;
  }
}

.multi-metric-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media #{$portrait} {
    flex-direction: column;
  }
}

.metric--small {
  width: calc(50% - 10px);
  flex-direction: row;
  height: 100px;

  @media #{$portrait} {
    width: 100%;
  }
}

.metric__icon {
  height: 56px;
  width: 56px;
}

.metric__container--left {
  height: 100%;
  display: flex;
  @media #{$portrait-small} {
    height: 60px;
  }
}

.metric__value-container {
  height: 100%;
  font-size: 20px;
  margin-right: auto;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.metric__values {
  display: flex;
}

.value {
  width: 50px;
}

.value:not(:first-child) {
  text-align: center;
  padding-left: 25px;
  border-left: 0.5px solid rgba(255, 255, 255, 0.29);
}

.value:not(:last-child) {
  padding-right: 25px;
}

.metrics-selector {
  height: 55px;
  width: calc(50% - 30px);
  display: flex;
  justify-content: space-between;

  @media #{$portrait-small} {
    width: 100%;
  }
}

.selector-button {
  background-color: rgba(10, 16, 31, 0.8);
  color: white;
  height: 100%;
  border: none;
  font-size: 30px;
  border-radius: 2px;
  flex-grow: 1;
  cursor: pointer;
}

.selector-button:not(:first-child) {
  margin-left: 10px;
}

.selector-button:focus {
  outline: 0;
}

.selector-button--active {
  background-color: rgba(48, 175, 255, 0.8);
}

.selector-button__amperage {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selector-button__shore-input-limit {
  font-size: 22px;
  margin-right: 10px;
}

.metric__battery {
  background-image: url("../images/boat.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto 100%;

  @media #{$portrait-small} {
    background-image: none;
  }
}

.metric__battery-level-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 55px;
  width: calc(50% - 30px);

  @media #{$portrait} {
    justify-content: center;
  }
}

.metric__battery-level {
  font-size: 32px;
  font-weight: bold;
}

.metric__charging-state {
  font-size: 20px;
}

.text--bottom-align {
  display: flex;
  align-items: flex-end;
}

.text--bottom-align > p {
  line-height: 1;
}
