// Use 1920px screen as baseline and scale down when needed

@import "./variables.scss";

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  background: #1f2535;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

body,
p {
  margin: 0;
}

html,
body,
#app {
  height: 100%;
  box-sizing: border-box;
}

main {
  flex-shrink: 0;
}

main {
  height: 85%;
  width: 100%;
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: center;

  overflow-y: scroll;
  overflow-x: hidden;
}

#app {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.metrics-container {
  width: 100%;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  @media all and (max-width: 1340px) {
    padding: 0 40px;
  }

  @media #{$portrait}, #{$small} {
    padding: 0 20px;
  }

  @media #{$narrow-portrait}, #{$tiny} {
    padding: 0;
  }

  @media #{$narrow-portrait} {
    flex-wrap: nowrap;
  }
  @media (orientation: landscape) {
    flex-direction: row;
  }
}


.metric {
  padding: $topBottomPadding $rightLeftPadding;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: $marginBottom;
  display: flex;
  box-sizing: border-box;
  border-radius: $borderRadius;
  background-color:#121a28;
}

.metrics-container--single-col .metric {
  margin-bottom: $smallMarginBottom;
}

.metric__icon {
  height: 45px;
  margin-right: $rightLeftPadding;

  @media #{$tiny} {
    height: 35px;
  }

  @media #{$minimum} {
    display: none;
  }
}

.metric__value-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.metric__container--left {
  display: flex;
  height: 100%;
  align-items: center;

  @media #{$portrait} {
    height: 40px;
  }
}

.disconnected {
  .metric__value-container > :last-child,
  button span {
    opacity: 0.5;
  }
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

.metric__mode--readonly {
  width: calc(50% - 40px);
}

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
  
  .image-container {
    margin: 2em 0;
    max-width: 500px;
    img {
      border-radius: 5px;
      width: 100%;
    }
  }


  @media #{$low-landscape} {
    flex-direction: row;

    .instructions-container {
      width: 50%;
      margin: 1em;
    }

    .image-container {
      width: 50%;
    }
  }

  @media #{$small},  #{$very-low-landscape} {
    .image-container {
      max-width: 400px;
    }
  }

  @media #{$very-small} {
    .image-container {
      max-width: 300px;
    }
  }
}

.hiding-container {
  @media #{$portrait}, #{$smaller} {
    width: 100%;
  }
  width: 50%;
}

.boat-image {
  background: #121a28 url("../images/boat.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}