// Use 1920px screen as baseline and scale down when needed

@import "./variables.scss";

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  background-color: #2e3745;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

body,
p {
  margin: 0;
}

html,
body,
#app {
  height: 100%;
  box-sizing: border-box;
}

main {
  flex-shrink: 0;
}

main {
  height: 85%;
  width: 100%;
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.metrics-container {
  width: 100%;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  @media all and (max-width: 1340px) {
    padding: 0 40px;
  }

  @media #{$portrait}, #{$small} {
    padding: 0 3vw;
  }

  @media #{$narrow-portrait}, #{$tiny} {
    padding: 0;
  }
}

.metric {
  padding: $topBottomPadding $rightLeftPadding;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: $marginBottom;
  display: flex;
  box-sizing: border-box;
  border-radius: $borderRadius;
  background-color: rgba(18, 26, 40, 1);
}

.metrics-container--single-col .metric {
  margin-bottom: $smallMarginBottom;
}

.metric__icon {
  height: 45px;
  @media #{$tiny} {
    height: 35px;
  }

  @media #{$minimum} {
    display: none;
  }
}

.metric__value-container {
  margin-right: auto;
  margin-left: $rightLeftPadding;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.metric__container--left {
  display: flex;
  height: 100%;
  align-items: center;

  @media #{$portrait} {
    height: 40px;
  }
}

.disconnected {
  .metric__value-container > :last-child,
  button span {
    opacity: 0.5;
  }
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

.metric__mode--readonly {
  width: calc(50% - 40px);
}

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;

  .image-container {
    max-width: 600px;
  }
}

.image-container {
  margin: 2em 0;
  img {
    width: 100%;
  }
}

.hiding-container {
  @media #{$portrait}, #{$smaller} {
    width: 100%;
  }
  width: 50%;
}
