// Use 1920px screen as baseline and scale down when needed

@import "./variables.scss";

@font-face {
  font-family: Roboto;
  src: url("./Roboto-Normal.ttf"), url("./Roboto-Medium.ttf") url("./Roboto-Bold.ttf");
}

* {
  font-family: Roboto, sans-serif;
}

.text {
  color: white;
  font-weight: 400;
  font-size: 30px;

  @media #{$wide} {
    font-size: 20px;
  }

  @media #{$regular} {
    font-size: 16px;
  }
}

.text--very-large {
  font-size: 60px;

  @media #{$wide} {
    font-size: 40px;
  }

  @media #{$regular} {
    font-size: 32px;
  }
}

.text--small {
  font-size: 27px;

  @media #{$wide} {
    font-size: 18px;
  }

  @media #{$regular} {
    font-size: 15px;
  }
}

.text--very-small {
  font-size: 22px;

  @media #{$wide} {
    font-size: 15px;
  }

  @media #{$regular} {
    font-size: 12px;
  }
}

.text--medium {
  font-weight: 500;
}

.text--bold {
  font-weight: 700;
}
