// Use 1920px screen as baseline and scale down when needed

$wide: "all and (max-width: 1919px)";
$regular: "all and (max-width: 1279px)";
$narrow: "all and (max-width: 1023px)";
$very-narrow: "all and (max-width: 800px)";
$minimum: "all and (max-width: 600px)";

$short: "all and (max-height: 500px)";

$shortAndNarrow: "all and (max-height: 500px) and (max-width: 600px)";
$veryShortAndNarrow: "all and (max-height: 400px) and (max-width: 400px)";

$portrait: "all and (max-aspect-ratio: 9/10)";
$narrow-portrait: "all and (max-aspect-ratio: 6/10)";
$very-narrow-portrait: $narrow-portrait + " and (max-width: 400px)";

$low-landscape: "all and (min-aspect-ratio: 3/1)";

$metric-padding-sides-landscape: 40px;
$metric--small-margin-between: 10px; // both elementa have this
