@use "sass:math";

$regular: "all and (min-width: 501px) and (max-width: 1000px)";
$minimum: "all and (max-width: 500px)";

$smaller: "all and (max-width: 1000px) and (min-aspect-ratio: 9/10)";
$small: "all and (max-width: 800px) and (min-aspect-ratio: 9/10)";
$very-small: "all and (max-width: 650px) and (min-aspect-ratio: 9/10)";
$tiny: "all and (max-width: 450px) and (min-aspect-ratio: 9/10)";

$portrait: "all and (max-aspect-ratio: 9/10)";
$narrow-portrait: "all and (max-aspect-ratio: 6/10)";
$very-narrow-portrait: $narrow-portrait + " and (max-width: 400px)";

$low-landscape: "all and (min-aspect-ratio: 20/10)";
$very-low-landscape: $low-landscape + " and (max-height: 350px)";

$hide-remote-console-breakpoint: "all and (max-width: 549px), (max-height: 450px)";
$hide-logout-breakpoint: "all and (max-width: 549px), (max-height: 450px)";

$base: 0.05em;
$topBottomPadding: 17 * $base;
$rightLeftPadding: 20 * $base;
$borderRadius: 17 * $base;
$marginBottom: 2vh;
$metricHeaderMarginBottom: 17 * $base;

$color-active: #30afff;
$color-inactive-grey: #2a3341;
$color-inactive-blue: #30afff;

$color-lightgray: var(--color-lightgray);
$color-gray: var(--color-gray);
$color-gray-600: var(--color-gray-600);
$color-darkgray: var(--color-darkgray);
$color-black: var(--color-black);
$color-white: var(--color-white);
$color-offwhite: var(--color-offwhite);

$color-active: var(--color-active);
$header-bg-color: var(--header-bg-color);
$header-button-color: var(--header-button-color);
$main-bg-color: var(--main-bg-color);
$text-color-main: var(--text-color-main);

$btn-primary: var(--btn-primary);

// card related variables
$card-bg-color: var(--card-bg-color);
$card-shadow-color: var(--card-shadow-color);
$color-green: var(--color-green);
$color-orange: var(--color-orange);
$color-red: var(--color-red);

$card-margin: 0.5rem;

$card-height-small: 11rem;
$card-height-big: $card-height-small;

$card-width-small: 11rem;
$card-width-big: ($card-width-small * 2) + ($card-margin * 2);

// donut indicator variables
$donut-size-small: math.div($card-width-small, 1.7);
$donut-width-big: $donut-size-small;
$donut-height-big: $donut-width-big - math.div($card-width-small, 6);
$donut-offset: 0.24rem;
