@import '../../css/variables.scss';

.paginator {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .paginator__icon {
    width: 2em;
    height: 2em;
    padding: 0.3em 0.5em ;
    margin: 0.6em 1em;
    background-color: $paginator-arrow-color;
    border-radius: 5px;
    cursor: pointer;
  }

  .paginator__dot {
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    background-color: $color-lightgray;
    margin: auto 0.4em;
  }
}
