@import "../../../css/variables.scss";

$base: 0.045em;
$topBottomPadding: 17 * $base;
$rightLeftPadding: 20 * $base;
$height: 81 * $base;
$borderRadius: 17 * $base;
$marginBottom: 30 * $base;

.metric {
  margin-bottom: $marginBottom;
  height: $height;
  padding: $topBottomPadding $rightLeftPadding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-radius: $borderRadius;
  background-color: rgba(18, 26, 40, 1);
}

.metric--small {
  width: 100%;
}

.metric__icon {
  height: 100%;
}

.metric__value-container {
  margin-right: auto;
  margin-left: $rightLeftPadding;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}