@import "../../../css/variables.scss";

.metric__values {
  display: flex;
}

.value:not(:first-child) {
  padding-left: 25px;
  @media #{$smaller} {
    padding-left: 15px;
  }

  @media #{$small} {
    padding-left: 5px;
  }
}

.value:not(:last-child) {
  padding-right: 25px;

  @media #{$smaller} {
    padding-right: 15px;
  }

  @media #{$small} {
    padding-right: 5px;
  }
}
