@import "../../../css/variables.scss";

.metric__values {
  display: flex;
  color: $color-white;
  font-size: 1.1rem;
}

.value {
  padding-right: 2em;
  @media #{$smaller} {
    padding-right: 1.5rem;
  }
}

.inflate {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}